@model WebApp.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dob: @Model.Dob</h2>
<h2>Name: @Model.Name</h2>
<h2>Membership Type: @Model.MembershipType.Name</h2>
    

